apiVersion: v1
kind: Service
metadata:
  name: spring-service
  labels:
    app: spring
spec:
  type: ClusterIP
  selector:
    app: spring
  ports:
    - name: http
      port: 8080
      targetPort: 8080

